/* class 선택자, 여러 가지 스타일을 줄 수 있음 */
/* .new-style {
  color: red;
} */

/* id 선택자, 하나의 값만 가질 수 있음, 주로 자바스크립트에서 많이 사용 */
/* #new-style {
  color: red;
} */

/* 태그 직접 선택, 해당하는 모든 태그에 같은 스타일 적용 */
/* p {
  color: red;
} */

/* p 태그에 있는 class가 new-style인 태그만 선택 */
/* p.new-style {
  color: red;
} */

/* div 태그 중에는 new-style을 가진 태그가 없기 때문에 적용 안됨 */
/* div.new-style{
  color: red;
} */

/* div 태그 아래에 있는 모든 자손들 중 style이 new-style을 가진 태그만 선택, 스페이스 유무 차이 */
/* div .new-style {
  color: red;
} */

/* span 태그 바로 밑에 직접적인 자식 중에서만 new-style을 가진 태그를 선택, 꼭 class 형태가 아니라 id나 태그여도 됨 */
span > .new-style {
  color: red;
}
