/* .new-style {
  color: red;
} */

/* #new-style {
  color: red;
} */

/* p{
  color: red;
} */

/* p.new-style {
  color: red;
} */
/* p 태그에 있는 class가 new-style인 태그만 선택 */

/* div.new-style{
  color: red;
} */
/* div 태그 중에는 new-style을 가진 태그가 없기 때문에 적용 안됨 */

/* div .new-style {
  color: red;
} */
/* div 태그 아래에 있는 모든 자손들 중 style이 new-style을 가진 태그만 선택, 스페이스 유무 차이 */

span>.new-style {
    color: red;
  }
  
  /* span 태그 바로 밑에 직접적인 자식 중에서만 new-style을 가진 태그를 선택, 꼭 class 형태가 아니라 id나 태그여도 됨 */